{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article class="post">
          <header>
              <div class="title">
                  {{ if $.Scratch.Get "h1" }}
                      <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                      {{ $.Scratch.Set "h1" false }}
                  {{ else }}
                      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                  {{ end }}
                  {{ with .Description }}
                      <p>{{ . }}</p>
                  {{ end }}
              </div>
          </header>
            <div id="content">
                {{ .Content }}
                <div class="contact-container">
                  <form id="contact-form" action="{{ .Params.emailservice }}" method="POST" center width="300px">
                  <h4>Replies Typically Within 24 Hours.</h4>
                  <fieldset>
                   <input placeholder="{{ .Params.contactname }}" type="text" name="name" tabindex="1" required autofocus>
                  </fieldset>
                  <fieldset>
                   <input placeholder="{{ .Params.contactemail}}" type="email" name="_replyto" tabindex="2" required>
                  </fieldset>
                  <fieldset>
                   <textarea placeholder="{{ .Params.contactmessage}}" name="message" tabindex="3" required></textarea>
                  </fieldset>
                    {{ if .Params.googleRecaptchaSiteKey }}
                        {{with .Params.googleRecaptchaSiteKey }}
                    <div class="g-recaptcha" data-sitekey='{{.}}'></div>
                    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                    <script>
                        function onSubmit(token) {
                            document.getElementById("contact-form").submit();
                        }
                    </script>
                        {{ end }}
                    {{ end }}
                  
                  <fieldset>
                    <button name="submit" class="button" data-callback='onSubmit' type="submit" id="contact-submit" tabindex="4" value="Send">Submit</button>
                  </fieldset>
              </form>
            </div>
            </div>
        </article>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
